---
volumes:
  data-prometheus: {}
  data-grafana: {}

services:
  prometheus:
    image: quay.io/prometheus/prometheus:v3.3.0
    environment:
      TZ: UTC
    volumes:
      - ./container-fs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - data-prometheus:/prometheus
    ports:
      - "9090:9090/tcp"

  promsnmp:
    image: ghcr.io/pbrane/promsnmp:latest
    build:
      context: ..
      dockerfile: ./Dockerfile
    init: true
    tty: true
    stdin_open: true
    environment:
      TZ: UTC
      DISCOVERY_TZ: UTC
      PROM_DISCOVERY_API: snmp
      PROM_METRICS_API: snmp
      METRICS_REPO_API: snmp
      CACHE_STATS_RATE_MILLIS: 15000
      CACHE_EXP_MILLIS: 300000
      CACHE_ENTRY_CNT: 10000
      DISCOVERY_CRON: "0 0 2 * * *"
      DISCOVERY_ON_START: false
      COLLECTION_INTERVAL: 30000
      SERVER_PORT: 8080
    ports:
      - "8080:8080/tcp"

  grafana:
    image: docker.io/grafana/grafana-oss:latest
    environment:
      TZ: UTC
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - data-grafana:/var/lib/grafana
      - ./container-fs/grafana/provisioning:/etc/grafana/provisioning/
    ports:
      - "3000:3000/tcp"
